@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.header {
    h3 {
        font-family: "Inconsolata", monospace;
        font-weight: 700;
        font-size: 1.5rem;
    }
}
